[Unit]
Description=NjnuClassroom Data Service of Explore
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/opt/NjnuClassroom/bin/explore.sh

[Install]
WantedBy=multi-user.target
