certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
mariadb==1.0.7
MarkupSafe==2.0.1
python-redis-lock==3.7.0
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
selenium==3.141.0
urllib3==1.26.5
Werkzeug==2.0.1
