aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
mariadb==1.0.7
MarkupSafe==2.0.1
multidict==5.1.0
python-redis-lock==3.7.0
PyYAML==5.4.1
redis==3.5.3
selenium==3.141.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
yarl==1.6.3
